 .box{
    /* position: absolute; 
    z-index: -1;  */
    /* margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    width: 50%;
    height: 250px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden; */
    
} 
h2{
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
}
.boxCard{
    text-align: left;
    overflow: hidden;
    float: left;
    margin: 2%;
    width: 45%;
    height: 100%;

}

.box-img{
    margin: 0;
    overflow: hidden;
	height: 100%;
	
	
    
    
}

.box-text{
    display: flex;
    margin: 0;
    width: 20%;
    height: 50px;
}

.box-itemCount{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 100px;
    
    
}

.card{
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    width: 50%;
    height: 250px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}