.cart-img{
    width: 50px;
    object-fit: cover;
    background-color: none;
}

.cart-p{
   
    position: absolute;
    top: 8px;
    right: 14px;
    margin: 0;
    color: white;
    
}

.cart-box{
    border: none;
    color: white;
    background: none;
}