.cart-img{
    position: relative;
    bottom: 14px;
    width: 50px;
    object-fit: cover;
    background-color: none;
}

.cart-p{
   
    position: absolute;
    top: 5px;
    right: 8px;
    margin: 0;
    color: white;
    font-size: 16px;
    
}

.cart-box{
    position: relative;
    border: none;
    color: white;
    background: none;

}